@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}
body{
    font-family: "Roboto", sans-serif;
    /* background-color: #f5f5f5ff; */
}
.scroll-hide{
    scroll-behavior: smooth;
    transition: scroll-snap-type 0.5s cubic-bezier(0.645,0.045,0.355,1);
    scroll-snap-type: x mandatory;
    scroll-padding: 0 20px;
    animation-delay: 0.5s;
}
.scroll-hide::-webkit-scrollbar {
 width: 0px;
 background-color: transparent;/* Webkit-based browsers */
}