/* Navbar.css */
.navbar {
    
    position: fixed; 
    top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
  }
  
  .logo {
    opacity: 0;
    animation: logoAppear 1s forwards;
  }
  
  .links {
    opacity: 0;
    animation: linksAppear 1s 0.5s forwards;
  }
  
  .mobile-links {
    opacity: 0;
    animation: mobileLinksAppear 1s forwards;
  }
  
  @keyframes logoAppear {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes linksAppear {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes mobileLinksAppear {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .nav-link {
    position: relative;
    text-decoration: none;
    color: #FFDFC4;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background:#FFDFC4;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
  }
  
  .nav-link:hover {
    
    transform: translateY(-2px);
  }
  
  .nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;

  }
  
  /* Mobile menu styles */
  .md:hidden .nav-link {
    display: block;
    padding: 10px 0;
  }
  